@model GradeOfferByGradeViewModel
@{
    ViewBag.Title = "Ofertas de Grado";
}

<div class="bradcam_area">
    <div class="bradcam_shap">
        <img src="img/ilstrator/bradcam_ils.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Ofertas de @Model.GradeOffers.FirstOrDefault().Grade.Name</h3>
                    <nav class="brad_cam_lists">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active"><a asp-controller="Grades" asp-action="GradesByGradeCategory" asp-route-gradeCategoryId="@Model.GradeOffers.FirstOrDefault().Grade.GradeCategoryId">Atr&aacute;s</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.GradeOffers.FirstOrDefault().Grade.Description</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        @Html.DropDownListFor(m => m.GradeOfferSortingOption, Model.GradeOfferSortingOptions, new { @class = "form-control" })
    </div>
</div>
@{
    await Html.RenderPartialAsync("_GradeOffersList", Model);
}

<script src="~/js/jquery-1.12.4.min.js"></script>
<script src="~/js/grade-offers-by-grade.js"></script>