@model GradesByGradeCategoryViewModel

@{
    ViewBag.Title = "Grados";
}

<div class="bradcam_area">
    <div class="bradcam_shap">
        <img src="img/ilstrator/bradcam_ils.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Programas de @Model.Grades.FirstOrDefault().GradeCategory.Name</h3>
                    <nav class="brad_cam_lists">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/Home/Index#grade-categories">Atr&aacute;s</a></li>
                            <li class="breadcrumb-item">@Model.Grades.FirstOrDefault().GradeCategory.Description</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_GradesList", Model);
}